<h1>Tetris</h1>

<div class="tetris cf">
  <div class="highscores">
    <span>Hishscores:</span>
    <ul>
      <li>Russell: 500</li>
      <li>Gage: 460</li>
      <li>Guru: 210</li>
      <li>Sam: 110</li>
      <li>Wil: 30</li>
    </ul>
  </div>

  <ul class="board cf">
  </ul>

  <div class="info-pane">
    <span class="score">Score: 160</span>
    <h2>next:</h2>
    <ul class="next cf">
    </ul>
    <h2>save:</h2>
    <ul class="save cf">
    </ul>
  </div>
</div>
